@font-face {
  font-family: "Gilroy-Bold";
  src: url(/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url(/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(/fonts/Gilroy-Regular.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy-Medium";
  background-color: #f8f9fa;
}

.container {
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 15px;
  background-color: #ffffff;
  width: 600px;
  min-width: 600px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .error {
  color: #A64452;
}
.container .success {
  color: #4BB543;
}
.container .header {
  padding: 10px;
  padding-top: 35px;
  width: 90%;
  border-bottom: 3px solid #f2f2f2;
  font-family: "Gilroy-Bold";
}
.container .header p {
  font-family: "Gilroy-Regular";
}
.container #geschlecht {
  display: flex;
  align-items: center;
  position: relative;
}
.container #geschlecht label {
  padding-right: 25px;
  height: 40px;
  border-right: 2px solid #f2f2f2;
  width: 150px;
  display: flex;
  align-items: center;
}
.container #geschlecht .dropdownMenu {
  background-color: #f6f6f6;
  padding: 15px 15px 15px 50px;
  display: flex;
  justify-content: flex-start;
  width: 350px;
  height: 50px;
  margin-left: 10px;
  border-radius: 25px;
  border: none;
  font-family: "Gilroy-Medium";
  background-color: #f6f6f6;
  color: #626262;
  font-size: 15px;
  transition: all 0.15s ease-in-out;
}
.container #geschlecht .dropdownMenu:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}
.container #geschlecht .show-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #e2e2e2;
}
.container #geschlecht img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 170px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
}
.container #geschlecht .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 350px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  left: 160px;
  top: 50px;
}
.container #geschlecht .dropdown-content p {
  color: #626262;
  padding: 15px;
  display: block;
}
.container #geschlecht .dropdown-content p:hover {
  background-color: #e2e2e2;
  border-radius: 15px;
}
.container #geschlecht .show {
  display: block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container #geschlecht .show p:first-child {
  border-top: 2px solid #d2d2d2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container .formular {
  width: 90%;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid #f2f2f2;
}
.container .formular form label {
  padding-right: 25px;
  height: 40px;
  border-right: 2px solid #f2f2f2;
  width: 150px;
  display: flex;
  align-items: center;
}
.container .formular form .input {
  display: flex;
  align-items: center;
  margin-top: 15px;
  position: relative;
  transition: 0.2s ease all;
}
.container .formular form .input img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 170px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
}
.container .formular form .input .capslockDiv {
  position: absolute;
  left: 515px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s ease all;
  background-color: #f6f6f6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container .formular form .input .capslock {
  position: relative;
  opacity: 0.7;
  left: 12px;
}
.container .formular form .input .hiddenCapsLock {
  display: none;
  opacity: 0;
}
.container .formular form .input input {
  padding: 15px 15px 15px 50px;
  width: 350px;
  height: 50px;
  margin-left: 10px;
  border-radius: 25px;
  border: none;
  font-family: "Gilroy-Medium";
  background-color: #f6f6f6;
  font-size: 15px;
  transition: background-color 0.2s ease-in-out;
}
.container .formular form .input input:focus {
  outline: 2px solid #4b8ad5;
}
.container .formular form .input input.error:focus {
  outline: 2px solid #A64452;
}
.container .formular form .input input.success:focus {
  outline: 2px solid #4BB543;
}
.container .formular form .input input:focus ~ .floating-label, .container .formular form .input input:not(:focus):valid ~ .floating-label {
  top: 9px;
  font-size: 11px;
}
.container .formular form .input .floating-label {
  position: absolute;
  left: 210px;
  top: 25px;
  opacity: 0.6;
  transform: translateY(-50%);
  transition: 0.2s ease all;
}
.container .formular form label[for=sonstiges] {
  height: 75px;
}
.container .formular form .textarea {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.container .formular form .textarea textarea {
  margin-left: 10px;
  padding: 15px;
  height: 75px;
  width: 350px;
  border-radius: 15px;
  background-color: #f6f6f6;
  border: none;
  resize: none;
  font-family: "Gilroy-Medium";
}
.container .agb {
  margin-top: 15px;
}
.container .agbError {
  color: #A64452;
}
.container .submit {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .submit button {
  padding: 15px 25px;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  transition: all 0.2s ease-in-out;
  width: 40%;
}
.container .submit button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.container .submit #register {
  background-color: #4BB543;
}
.container .submit #reset {
  background-color: #A64452;
  margin-right: 5%;
}
.container #geschlecht .error {
  color: #c58a93;
}
.container #geschlecht .success {
  color: #4bb543;
}